*{
  font-family: Consolas, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  overflow: hidden;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom right, rgb(61, 61, 61), rgb(17, 17, 17), rgb(61, 61, 61));
}

.title {
  margin: 1rem;
  /* margin-top: 3rem; */
  padding: 1rem;
  width: 24rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
}

.container {
  position: relative;
  height: 40rem;
  width: 24rem;
  border: 0.125rem solid white;
}

.container canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#canvas1 {
  background-position: bottom;
  background-size: contain;
}

#canvas2 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

/* common options styling */

.options-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 100, 0.5), rgba(0, 100, 0, 0.5));
  backdrop-filter: blur(5px);
}

.options-container::-webkit-scrollbar {
  width: 0.2rem;
}
 
.options-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.options-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgb(109, 0, 0), rgb(0, 131, 114));
  border-radius: 2rem;
}
.options-container::-webkit-scrollbar-button {
  width: 0;
}

.options-container div {
  height: 25%;
  width: 80%;
  border: 0.125rem solid white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  background-size: cover;
  background-position: bottom;
  transition-duration: 0.5s;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 0 5px black;
}

.options-container div:hover {
  border: 0.125rem solid white;
  transform: scale(1.01);
  cursor: pointer;
}


/* select theme options styling */
#default {
  background-image: url('../assets/default/flappybirdbg.png');
}
#alien {
  background-image: url('../assets/alien/flappybirdbg.png');
}
#night {
  background-image: url('../assets/night/flappybirdbg.png');
}
#winter {
  background-image: url('../assets/winter/flappybirdbg.png');
}


/* custom options styling */
#custom-options-container div:nth-child(1) {
  /* background-image: linear-gradient(to bottom right, darkgreen, darkblue); */
  height: 8%;
  font-size: 2rem;
}
#custom-options-container div:nth-child(2) {
  background-image: url("../assets/bird-options.png");
  background-position: center;
}
#custom-options-container div:nth-child(3) {
  background-image: url("../assets/pipe-options.png");
}
#custom-options-container div:nth-child(4) {
  background-image: url("../assets/background-options.png");
}


/* bird options styling */
#bird-options-container div {
  background-size: 25%;
  background-position: 13rem center;
  justify-content: flex-start;
  padding-left: 1rem;
}
#bird-options-container div:nth-child(1) {
  background-image: url("../assets/default/flappybird.png");
}
#bird-options-container div:nth-child(2) {
  background-image: url("../assets/winter/flappybird.png");
}
#bird-options-container div:nth-child(3) {
  background-image: url("../assets/alien/flappybird.png");
}
#bird-options-container div:nth-child(4) {
  background-image: url("../assets/night/flappybird.png");
}


/* pipe options styling */
#pipe-options-container div {
  background-size: 25%;
  background-position: 13rem 1rem;
  justify-content: flex-start;
  padding-left: 1rem;
}
#pipe-options-container div:nth-child(1) {
  background-image: url('../assets/default/bottompipe.png');
}
#pipe-options-container div:nth-child(2) {
  background-image: url('../assets/winter/bottompipe.png');
}
#pipe-options-container div:nth-child(3) {
  background-image: url('../assets/alien/bottompipe.png');
}
#pipe-options-container div:nth-child(4) {
  background-image: url('../assets/night/bottompipe.png');
}

/* background options styling */
#background-options-container div {
  background-size: 40%;
  background-position: bottom right;
  justify-content: flex-start;
  padding-left: 1rem;
}

#background-options-container div:nth-child(1) {
  background-image: url('../assets/default/flappybirdbg.png');
}
#background-options-container div:nth-child(2) {
  background-image: url('../assets/winter/flappybirdbg.png');
}
#background-options-container div:nth-child(3) {
  background-image: url('../assets/alien/flappybirdbg.png');
}
#background-options-container div:nth-child(4) {
  background-image: url('../assets/night/flappybirdbg.png');
}


#btn-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 12rem;
  overflow: visible;
}

#btn-container div {
  height: 40%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid white;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  /* background-image: linear-gradient(to bottom right, darkgreen, darkblue); */
  transition-duration: 0.5s;
  /* overflow: visible; */
}

#btn-container div:hover {
  transform: scale(1.05);
  cursor: pointer;
}


@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-height: 780px) {
  html {
    font-size: 14px;
  }
  body {
    justify-content: flex-start;
  }
}


@media screen and (max-width: 350px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-height: 650px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 330px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-height: 600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-height: 550px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 275px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-height: 550px) {
  html {
    font-size: 10px;
  }
}


@media screen and (max-height: 450px)
{
  html {
    font-size: 9px;
  }
}